<body class="hold-transition login-page">
    <div class="login-box">
    <div class="login-logo">
        <a href="login">{{{logo}}}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">{{message}}</p>
        <form method="post">
        <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}">
        <div class="form-group has-feedback">
            <input id="email" type="email" class="form-control" placeholder="{{email}}">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input id="password" type="password" class="form-control" placeholder="{{password}}">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                <input type="checkbox"> {{rememberAcc}}
                </label>
            </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
            <button id="submitForm" type="submit" class="btn btn-primary btn-block btn-flat">{{signIn}}</button>
            </div>
            <!-- /.col -->
        </div>
        </form>
        <a href="#">{{forgotPass}}</a><br>
        <a href="register" class="text-center">{{regNewMem}}</a>
    </div>
    <!-- /.login-box-body -->   
    <script src="./assets/icheck/icheck.min.js"></script>   
    <script>
        $( document ).ready(function() {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });             
            $('#submitForm').click(function(e) {
                login();
                return false;
            });
        });
        function login() {	
            $('#submitForm').attr("disabled", true); 
            datatosend='{';
            datatosend+='"username":'+JSON.stringify($('#email').val());	 	 
            datatosend+=',"password":'+JSON.stringify($('#password').val()); 
            datatosend+=',"_csrf":'+JSON.stringify($('#_csrf').val());          
            datatosend+='}';           
            datatosend=$.parseJSON(datatosend);	 
            data = $.ajax({type: 'POST',url: '/loginPost',data: datatosend,dataType: "json", async: false, success: function(data, result) {}}).responseText;		 
            alert(data);
            $('#submitForm').attr("disabled", false);             
        }
    </script>
    </div>
</body>

 