<!doctype html>
<html>
<head>
    <title>{{title}}</title>
    <link href="./assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/admin-lte/css/AdminLTE.min.css" rel="stylesheet">
    <link href="./assets/admin-lte/css/skins/_all-skins.min.css" rel="stylesheet">
    <link href="./assets/font-awesome/css/font-awesome.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="./assets/icheck/skins/all.css" rel="stylesheet">
    <script src="./assets/jquery/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
</head>
{{{body}}} 
</html>